OFAC SDN list - latest version (2023/12/11T15:52:00)

source url: https://ofac.treasury.gov/specially-designated-nationals-list-data-formats-data-schemas
for csv:https://www.treasury.gov/ofac/downloads/sdn.csv

In [2]:
#import packages
import pandas as pd
import numpy as np
import os

In [7]:
#load the data
#cols = ['Application_ID', 'Product_Type', 'Product_ID']
df = pd.read_xml('sdn.xml')#[cols]
print(df)

      Publish_Date  Record_Count      uid                   lastName  \
0       12/08/2023       13533.0      NaN                       None
1             None           NaN     36.0     AEROCARIBBEAN AIRLINES
2             None           NaN    173.0  ANGLO-CARIBBEAN CO., LTD.
3             None           NaN    306.0     BANCO NACIONAL DE CUBA
4             None           NaN    424.0         BOUTIQUE LA MAISON
...            ...           ...      ...                        ...
13529         None           NaN  46879.0                     HUDROJ
13530         None           NaN  46880.0    HODROJ EXCHANGE S.A.R.L
13531         None           NaN  46884.0                         HU
13532         None           NaN  46888.0                  ARDESTANI
13533         None           NaN  46889.0                   FARAHANI

          sdnType  programList  akaList  addressList  idList  \
0            None          NaN      NaN          NaN     NaN
1          Entity          NaN      NaN          NaN     NaN
2          Entity          NaN      NaN          NaN     NaN
3          Entity          NaN      NaN          NaN     NaN
4          Entity          NaN      NaN          NaN     NaN
...           ...          ...      ...          ...     ...
13529  Individual          NaN      NaN          NaN     NaN
13530      Entity          NaN      NaN          NaN     NaN
13531  Individual          NaN      NaN          NaN     NaN
13532  Individual          NaN      NaN          NaN     NaN
13533  Individual          NaN      NaN          NaN     NaN

                     firstName title  dateOfBirthList  placeOfBirthList  \
0                         None  None              NaN               NaN
1                         None  None              NaN               NaN
2                         None  None              NaN               NaN
3                         None  None              NaN               NaN
4                         None  None              NaN               NaN
...                        ...   ...              ...               ...
13529                    Bilal  None              NaN               NaN
13530                     None  None              NaN               NaN
13531                   Lianhe  None              NaN               NaN
13532  Mohammad Mahdi Khanpour  None              NaN               NaN
13533           Majid Dastjani  None              NaN               NaN

       nationalityList                                            remarks  \
0                  NaN                                               None
1                  NaN                                               None
2                  NaN                                               None
3                  NaN                                               None
4                  NaN                                               None
...                ...                                                ...
13529              NaN        (Linked To: AL-JAMAL, Sa'id Ahmad Muhammad)
13530              NaN                         (Linked To: HUDROJ, Bilal)
13531              NaN                                               None
13532              NaN  (Linked To: IRANIAN MINISTRY OF INTELLIGENCE A...
13533              NaN  (Linked To: IRANIAN MINISTRY OF INTELLIGENCE A...

       vesselInfo  citizenshipList
0             NaN              NaN
1             NaN              NaN
2             NaN              NaN
3             NaN              NaN
4             NaN              NaN
...           ...              ...
13529         NaN              NaN
13530         NaN              NaN
13531         NaN              NaN
13532         NaN              NaN
13533         NaN              NaN

[13534 rows x 17 columns]

In [8]:
df.columns.unique()

Index(['Publish_Date', 'Record_Count', 'uid', 'lastName', 'sdnType',
       'programList', 'akaList', 'addressList', 'idList', 'firstName', 'title',
       'dateOfBirthList', 'placeOfBirthList', 'nationalityList', 'remarks',
       'vesselInfo', 'citizenshipList'],
      dtype='object')

In [9]:
#get the percentages of missingsness
values_list = list()
cols_list = list() #creating empty lists

for col in df.columns:
    pct_missing= np.mean(df[col].isnull())*100
    cols_list.append(col)
    values_list.append(pct_missing)

pct_missing_df =pd.DataFrame()
pct_missing_df["col"] = cols_list
pct_missing_df["pct_missing"] = values_list
pct_missing_df
#shows a lot of missingness, prob need to use the advanced files or the additional files? 
#Or not use the compressed zip file?

                 col  pct_missing
0       Publish_Date    99.992611
1       Record_Count    99.992611
2                uid     0.007389
3           lastName     0.007389
4            sdnType     0.007389
5        programList   100.000000
6            akaList   100.000000
7        addressList   100.000000
8             idList   100.000000
9          firstName    50.938377
10             title    87.911926
11   dateOfBirthList   100.000000
12  placeOfBirthList   100.000000
13   nationalityList   100.000000
14           remarks    57.913403
15        vesselInfo   100.000000
16   citizenshipList   100.000000