produce the dataframes

In [1]:
import pandas as pd
import numpy as np
import os

# Opensanctions default dataset

In [2]:
df1= pd.read_csv('default_batch1.csv',low_memory=False)
df2= pd.read_csv('default_batch2.csv',low_memory=False)
df3= pd.read_csv('default_batch3.csv',low_memory=False)
df_default = pd.concat([df1,df2,df3])

In [3]:
df_default

,Unnamed: 0,id,schema,name,aliases,birth_date,countries,addresses,identifiers,sanctions,...,date_stamp,new_entry,deletion,unchanged,month,listing_count,listing_date,delisting_date,new_listing_count,last_change
0,0,NK-226JTDehVMSXex35EbKPmi,Organization,BENA PROPERTIES,BANNA PROPERTIES;BENA,NaN,sy,"Cham Holding Building, Daraa Highway, Sahnaya ...",NaN,Block - Program - SDN List - Executive Order 1...,...,20210930,True,False,False,2021-09,147560,20210930,NaN,1,NaN
1,1,NK-22FBSypYXKBCkX2JoWwgrk,Company,"GRUPO MECÁNICA DEL VUELO SISTEMAS, S.A.U.","Grupo Mecánica del Vuelo Sistemas, S.A.U.;Grup...",NaN,es;vn,"ISAAC NEWTON 11, PARQUE TECNOLÓGICO DE MADRID,...",NaN,CROSS-DEBARMENT: WBG - 2021-03-02 - 2024-09-01...,...,20211109,True,False,False,2021-11,134236,20211109,NaN,1,NaN
2,2,NK-22HtK7WrxZ2sU3rmhz6PuZ,Person,Michael Kuajien,"KUAJIAN, Michael;KUAJIEN DUER MAYOK, Michael;K...",1979-01-01,ke;ss,Nairobi;South Sudan,NaN,GLOMAG;Program - Block - SDN List - Executive ...,...,20210928,True,False,False,2021-09,147560,20210928,NaN,1,NaN
3,3,NK-22baaNEkbgBeZokNLmpaKd,Person,DZHAMBULAT GALIMOV,Джанбулат Магомедтагирович Галимов,1989-01-05,ru,NaN,NaN,террорист - Письмо Федеральной службы по финан...,...,20210930,True,False,False,2021-09,147560,20210930,NaN,1,NaN
4,4,NK-22iRdVwQHXiYMCAASM93qH,Organization,AL RASHID TRUST,AL AMEEN TRUST;AL AMIN TRUST;AL AMIN WELFARE T...,NaN,pk,"Jamia Masjid, Sulaiman Park, Begum Pura, Lahor...",NaN,Block - Program - SDN List - Unknown - 2001-09...,...,20210918,True,False,False,2021-09,147560,20210918,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662837,662837,zafic-93,Person,MEHREZ BEN MAHMOUD BEN SASSI AL-AMDOUNI,NaN,1969-12-18,it;tn,Italy,"Passport, G737411","""""",...,20230206,True,True,False,2023-02,281302,20230206,20230206.0,1,NaN
662838,662838,zafic-94,Person,ABU UBAYDAH YUSUF AL-ANABI,NaN,1969-02-07,dz,Algeria,NaN,"""""",...,20230206,True,True,False,2023-02,281302,20230206,20230206.0,1,NaN
662839,662839,zafic-96,Person,MOHAMED BEN BELGACEM BEN ABDALLAH AL-AOUADI,NaN,1974-12-11,tn,"50th Street, Number 23, Zehrouni, Tunis",NaN,"""""",...,20230206,True,True,False,2023-02,281302,20230206,20230206.0,1,NaN
662840,662840,zafic-97,Person,IBRAHIM HASSAN TALI AL-ASIRI,NaN,1982-04-18,sa;ye,Yemen,"National Identification Number, 1028745097, Pa...","""""",...,20230206,True,True,False,2023-02,281302,20230206,20230206.0,1,NaN
662841,662841,zafic-98,Person,ANWAR NASSER ABDULLA AL-AULAQI,NaN,1971-04-21,us,NaN,NaN,"""""",...,20230206,True,True,False,2023-02,281302,20230206,20230206.0,1,NaN

In [4]:
print(df_default.columns)
print(df_default.describe)

Index(['Unnamed: 0', 'id', 'schema', 'name', 'aliases', 'birth_date',
       'countries', 'addresses', 'identifiers', 'sanctions', 'phones',
       'emails', 'dataset', 'last_seen', 'first_seen', 'date_stamp',
       'new_entry', 'deletion', 'unchanged', 'month', 'listing_count',
       'listing_date', 'delisting_date', 'new_listing_count', 'last_change'],
      dtype='object')
<bound method NDFrame.describe of         Unnamed: 0                         id        schema  \
0                0  NK-226JTDehVMSXex35EbKPmi  Organization
1                1  NK-22FBSypYXKBCkX2JoWwgrk       Company
2                2  NK-22HtK7WrxZ2sU3rmhz6PuZ        Person
3                3  NK-22baaNEkbgBeZokNLmpaKd        Person
4                4  NK-22iRdVwQHXiYMCAASM93qH  Organization
...            ...                        ...           ...
662837      662837                   zafic-93        Person
662838      662838                   zafic-94        Person
662839      662839                   zafic-96        Person
662840      662840                   zafic-97        Person
662841      662841                   zafic-98        Person

                                               name  \
0                                   BENA PROPERTIES
1         GRUPO MECÁNICA DEL VUELO SISTEMAS, S.A.U.
2                                   Michael Kuajien
3                                DZHAMBULAT GALIMOV
4                                   AL RASHID TRUST
...                                             ...
662837      MEHREZ BEN MAHMOUD BEN SASSI AL-AMDOUNI
662838                   ABU UBAYDAH YUSUF AL-ANABI
662839  MOHAMED BEN BELGACEM BEN ABDALLAH AL-AOUADI
662840                 IBRAHIM HASSAN TALI AL-ASIRI
662841               ANWAR NASSER ABDULLA AL-AULAQI

                                                  aliases  birth_date  \
0                                   BANNA PROPERTIES;BENA         NaN
1       Grupo Mecánica del Vuelo Sistemas, S.A.U.;Grup...         NaN
2       KUAJIAN, Michael;KUAJIEN DUER MAYOK, Michael;K...  1979-01-01
3                      Джанбулат Магомедтагирович Галимов  1989-01-05
4       AL AMEEN TRUST;AL AMIN TRUST;AL AMIN WELFARE T...         NaN
...                                                   ...         ...
662837                                                NaN  1969-12-18
662838                                                NaN  1969-02-07
662839                                                NaN  1974-12-11
662840                                                NaN  1982-04-18
662841                                                NaN  1971-04-21

       countries                                          addresses  \
0             sy  Cham Holding Building, Daraa Highway, Sahnaya ...
1          es;vn  ISAAC NEWTON 11, PARQUE TECNOLÓGICO DE MADRID,...
2          ke;ss                                Nairobi;South Sudan
3             ru                                                NaN
4             pk  Jamia Masjid, Sulaiman Park, Begum Pura, Lahor...
...          ...                                                ...
662837     it;tn                                              Italy
662838        dz                                            Algeria
662839        tn            50th Street, Number 23, Zehrouni, Tunis
662840     sa;ye                                              Yemen
662841        us                                                NaN

                                              identifiers  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
662837                                  Passport, G737411
662838                                                NaN
662839                                                NaN
662840  National Identification Number, 1028745097, Pa...
662841                                                NaN

                                                sanctions  ... date_stamp  \
0       Block - Program - SDN List - Executive Order 1...  ...   20210930
1       CROSS-DEBARMENT: WBG - 2021-03-02 - 2024-09-01...  ...   20211109
2       GLOMAG;Program - Block - SDN List - Executive ...  ...   20210928
3       террорист - Письмо Федеральной службы по финан...  ...   20210930
4       Block - Program - SDN List - Unknown - 2001-09...  ...   20210918
...                                                   ...  ...        ...
662837                                                 ""  ...   20230206
662838                                                 ""  ...   20230206
662839                                                 ""  ...   20230206
662840                                                 ""  ...   20230206
662841                                                 ""  ...   20230206

       new_entry deletion unchanged    month  listing_count  listing_date  \
0           True    False     False  2021-09         147560      20210930
1           True    False     False  2021-11         134236      20211109
2           True    False     False  2021-09         147560      20210928
3           True    False     False  2021-09         147560      20210930
4           True    False     False  2021-09         147560      20210918
...          ...      ...       ...      ...            ...           ...
662837      True     True     False  2023-02         281302      20230206
662838      True     True     False  2023-02         281302      20230206
662839      True     True     False  2023-02         281302      20230206
662840      True     True     False  2023-02         281302      20230206
662841      True     True     False  2023-02         281302      20230206

        delisting_date  new_listing_count last_change
0                  NaN                  1         NaN
1                  NaN                  1         NaN
2                  NaN                  1         NaN
3                  NaN                  1         NaN
4                  NaN                  1         NaN
...                ...                ...         ...
662837      20230206.0                  1         NaN
662838      20230206.0                  1         NaN
662839      20230206.0                  1         NaN
662840      20230206.0                  1         NaN
662841      20230206.0                  1         NaN

[1301494 rows x 25 columns]>

In [5]:
print(df_default.dataset.unique())

['US OFAC Specially Designated Nationals (SDN) List'
 'African Development Bank Debarred Entities;Inter-American Development Bank Sanctions;WorldBank Debarred Providers'
 'US OFAC Specially Designated Nationals (SDN) List;US Trade Consolidated Screening List (CSL)'
 ...
 'US Directorate of Defense Trade Controls Penalties & Oversight Agreements'
 'US Public Alert: Unregistered Soliciting Entities (PAUSE)'
 'US Uyghur Forced Labor Prevention Act Entity List']

In [6]:
#now get the dataset into shape
#filter only for US and EU lists
lists = ['US OFAC Specially Designated Nationals (SDN) List',' EU Financial Sanctions Files (FSF)','EU Sanctions Map',
        'US BIS Denied Persons List','US OFAC Consolidated (non-SDN) List']
df_insa=df_default[df_default["dataset"].isin(lists)]
df_insa

,Unnamed: 0,id,schema,name,aliases,birth_date,countries,addresses,identifiers,sanctions,...,date_stamp,new_entry,deletion,unchanged,month,listing_count,listing_date,delisting_date,new_listing_count,last_change
0,0,NK-226JTDehVMSXex35EbKPmi,Organization,BENA PROPERTIES,BANNA PROPERTIES;BENA,NaN,sy,"Cham Holding Building, Daraa Highway, Sahnaya ...",NaN,Block - Program - SDN List - Executive Order 1...,...,20210930,True,False,False,2021-09,147560,20210930,NaN,1,NaN
9,9,NK-23rgYEXa9AHtupZKgS8Tbc,Person,Bahram Ali SHAYESTEH,Bahrami Ali JADALI;Bahrami Ali SHAYESTEH,1958-06-13;1963-05-06;1963-08-06,de,"80331 Muenchen, Bayern",NaN,Block - Program - SDN List - Unknown - 2011-04-28,...,20210930,True,False,False,2021-09,147560,20210930,NaN,1,NaN
21,21,NK-26KatzEr7TvuaQuVTYUvrJ,Person,Sang Jun JI,Sang-chun Chi,1971-05-03,ru,Moscow,NaN,Block - Program - SDN List - Executive Order 1...,...,20210930,True,False,False,2021-09,147560,20210930,NaN,1,NaN
29,29,NK-27foGhde2c676yHk4Szsir,Airplane,EX-301,NaN,NaN,NaN,NaN,EX-301,Block - Program - SDN List - Executive Order 1...,...,20210930,True,False,False,2021-09,147560,20210930,NaN,1,NaN
35,35,NK-28gREYAn2aeBFeu546pXgd,Organization,OLDHAM FARM,NaN,NaN,zw,Chegutu,NaN,Block - Program - SDN List - Unknown - 2005-08-03,...,20210930,True,False,False,2021-09,147560,20210930,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535297,535297,us-bis-12-19-2023-tina-chen,LegalEntity,TINA CHEN,NaN,NaN,NaN,"INMTATE NUMBER: 47268-509, FMC CARSWELL FEDERA...",NaN,2023-12-19 - 2033-02-23,...,20231220,True,True,False,2023-12,563325,20231220,20231220.0,1,2023-12-20T16:57:26
535298,535298,us-bis-12-19-2023-tina-dubner,LegalEntity,TINA DUBNER,NaN,NaN,NaN,"INMATE NUMBER: 47268-509, FMC CARSWELL FEDERAL...",NaN,2023-12-19 - 2033-02-23,...,20231220,True,True,False,2023-12,563325,20231220,20231220.0,1,2023-12-20T16:57:26
535299,535299,us-bis-12-19-2023-tina-dunbar,LegalEntity,TINA DUNBAR,NaN,NaN,NaN,"INMATE NUMBER: 47268-509, FMC CARSWELL FEDERAL...",NaN,2023-12-19 - 2033-02-23,...,20231220,True,True,False,2023-12,563325,20231220,20231220.0,1,2023-12-20T16:57:26
535300,535300,us-bis-12-19-2023-ya-when-chen,LegalEntity,YA WHEN CHEN,NaN,NaN,NaN,"INMATE NUMBER: 47268-509, FMC CARSWELL FEDERAL...",NaN,2023-12-19 - 2033-02-23,...,20231220,True,True,False,2023-12,563325,20231220,20231220.0,1,2023-12-20T16:57:26
535301,535301,us-bis-12-20-2022-nordwind-airlines,LegalEntity,NORDWIND AIRLINES,NaN,NaN,ru,"LENINGRADSKAYA STR., BUILDING 25, OFFICE 27. 2...",NaN,"""87 F.R.38704 6/29/2022; 87 F.R. 79725 12/27/2...",...,20230124,True,False,False,2023-01,306805,20230124,NaN,1,NaN

In [7]:
#deduplicate the batches
res_deduplicated = df_insa.copy()
res_deduplicated.sort_values(by=['id', 'date_stamp'], inplace=True)


# Deduplicate the entries (keep the first occurrence for each entity)
res_deduplicated = res_deduplicated.drop_duplicates(subset=['id'], keep='first')

# Reset index for the final result
res_deduplicated.reset_index(drop=True, inplace=True)

# Print or further analyze the deduplicated DataFrame 'res_deduplicated'
print(res_deduplicated)

      Unnamed: 0                                                 id  \
0              0                          NK-226JTDehVMSXex35EbKPmi
1              9                          NK-23rgYEXa9AHtupZKgS8Tbc
2             21                          NK-26KatzEr7TvuaQuVTYUvrJ
3             29                          NK-27foGhde2c676yHk4Szsir
4             35                          NK-28gREYAn2aeBFeu546pXgd
...          ...                                                ...
5402      402961           us-bis-12-20-2022-jesse-cortez-arguelles
5403      535301                us-bis-12-20-2022-nordwind-airlines
5404      402962                  us-bis-12-20-2022-pobeda-airlines
5405      402963        us-bis-12-20-2022-priscilla-bustos-martinez
5406      402964  us-bis-12-20-2022-siberian-airlines-d-b-a-s7-a...

            schema                                 name  \
0     Organization                      BENA PROPERTIES
1           Person                 Bahram Ali SHAYESTEH
2           Person                          Sang Jun JI
3         Airplane                               EX-301
4     Organization                          OLDHAM FARM
...            ...                                  ...
5402   LegalEntity               JESSE CORTEZ-ARGUELLES
5403   LegalEntity                    NORDWIND AIRLINES
5404   LegalEntity                      POBEDA AIRLINES
5405   LegalEntity            PRISCILLA BUSTOS MARTINEZ
5406   LegalEntity  SIBERIAN AIRLINES D/B/A S7 AIRLINES

                                       aliases  \
0                        BANNA PROPERTIES;BENA
1     Bahrami Ali JADALI;Bahrami Ali SHAYESTEH
2                                Sang-chun Chi
3                                          NaN
4                                          NaN
...                                        ...
5402                                       NaN
5403                                       NaN
5404                                       NaN
5405                                       NaN
5406                                       NaN

                            birth_date countries  \
0                                  NaN        sy
1     1958-06-13;1963-05-06;1963-08-06        de
2                           1971-05-03        ru
3                                  NaN       NaN
4                                  NaN        zw
...                                ...       ...
5402                               NaN       NaN
5403                               NaN        ru
5404                               NaN        ru
5405                               NaN       NaN
5406                               NaN       NaN

                                              addresses identifiers  \
0     Cham Holding Building, Daraa Highway, Sahnaya ...         NaN
1                                80331 Muenchen, Bayern         NaN
2                                                Moscow         NaN
3                                                   NaN      EX-301
4                                               Chegutu         NaN
...                                                 ...         ...
5402       150 W. LINCOLN STREEET, APT. A, 85714 TUCSON         NaN
5403  LENINGRADSKAYA STR., BUILDING 25, OFFICE 27. 2...         NaN
5404  108811, RUSSIAN FEDERATION, MOSCOW, P. MOSKOVS...         NaN
5405              7731 GLASGOW DRIVE, 78223 SAN ANTONIO         NaN
5406  633104, NOVOSIBIRSKAYA OBL., G. OB, PROSPEKT M...         NaN

                                              sanctions  ... date_stamp  \
0     Block - Program - SDN List - Executive Order 1...  ...   20210930
1     Block - Program - SDN List - Unknown - 2011-04-28  ...   20210930
2     Block - Program - SDN List - Executive Order 1...  ...   20210930
3     Block - Program - SDN List - Executive Order 1...  ...   20210930
4     Block - Program - SDN List - Unknown - 2005-08-03  ...   20210930
...                                                 ...  ...        ...
5402                            2022-12-20 - 2030-11-05  ...   20221220
5403  "87 F.R.38704 6/29/2022; 87 F.R. 79725 12/27/2...  ...   20230124
5404   87 F.R.38707 6/29/2022 - 2022-12-20 - 2023-06-18  ...   20221220
5405                            2022-12-20 - 2028-11-24  ...   20221220
5406  87 F.R. 38709 6/29/2022 - 2022-12-20 - 2023-06-18  ...   20221220

     new_entry deletion unchanged    month  listing_count  listing_date  \
0         True    False     False  2021-09         147560      20210930
1         True    False     False  2021-09         147560      20210930
2         True    False     False  2021-09         147560      20210930
3         True    False     False  2021-09         147560      20210930
4         True    False     False  2021-09         147560      20210930
...        ...      ...       ...      ...            ...           ...
5402      True     True     False  2022-12         303190      20221220
5403      True    False     False  2023-01         306805      20230124
5404      True     True     False  2022-12         303190      20221220
5405      True     True     False  2022-12         303190      20221220
5406      True     True     False  2022-12         303190      20221220

      delisting_date  new_listing_count last_change
0                NaN                  1         NaN
1                NaN                  1         NaN
2                NaN                  1         NaN
3                NaN                  1         NaN
4                NaN                  1         NaN
...              ...                ...         ...
5402      20221220.0                  1         NaN
5403             NaN                  1         NaN
5404      20221220.0                  1         NaN
5405      20221220.0                  1         NaN
5406      20221220.0                  1         NaN

[5407 rows x 25 columns]

In [8]:
#check for missingness
is_null = res_deduplicated.isnull().sum()
display(is_null)

Unnamed: 0              0
id                      0
schema                  0
name                    0
aliases              3493
birth_date           2748
countries            1266
addresses            1580
identifiers          3373
sanctions               0
phones               5388
emails               5384
dataset                 0
last_seen               0
first_seen              0
date_stamp              0
new_entry               0
deletion                0
unchanged               0
month                   0
listing_count           0
listing_date            0
delisting_date       5172
new_listing_count       0
last_change          5302
dtype: int64

In [9]:
res_deduplicated

,Unnamed: 0,id,schema,name,aliases,birth_date,countries,addresses,identifiers,sanctions,...,date_stamp,new_entry,deletion,unchanged,month,listing_count,listing_date,delisting_date,new_listing_count,last_change
0,0,NK-226JTDehVMSXex35EbKPmi,Organization,BENA PROPERTIES,BANNA PROPERTIES;BENA,NaN,sy,"Cham Holding Building, Daraa Highway, Sahnaya ...",NaN,Block - Program - SDN List - Executive Order 1...,...,20210930,True,False,False,2021-09,147560,20210930,NaN,1,NaN
1,9,NK-23rgYEXa9AHtupZKgS8Tbc,Person,Bahram Ali SHAYESTEH,Bahrami Ali JADALI;Bahrami Ali SHAYESTEH,1958-06-13;1963-05-06;1963-08-06,de,"80331 Muenchen, Bayern",NaN,Block - Program - SDN List - Unknown - 2011-04-28,...,20210930,True,False,False,2021-09,147560,20210930,NaN,1,NaN
2,21,NK-26KatzEr7TvuaQuVTYUvrJ,Person,Sang Jun JI,Sang-chun Chi,1971-05-03,ru,Moscow,NaN,Block - Program - SDN List - Executive Order 1...,...,20210930,True,False,False,2021-09,147560,20210930,NaN,1,NaN
3,29,NK-27foGhde2c676yHk4Szsir,Airplane,EX-301,NaN,NaN,NaN,NaN,EX-301,Block - Program - SDN List - Executive Order 1...,...,20210930,True,False,False,2021-09,147560,20210930,NaN,1,NaN
4,35,NK-28gREYAn2aeBFeu546pXgd,Organization,OLDHAM FARM,NaN,NaN,zw,Chegutu,NaN,Block - Program - SDN List - Unknown - 2005-08-03,...,20210930,True,False,False,2021-09,147560,20210930,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5402,402961,us-bis-12-20-2022-jesse-cortez-arguelles,LegalEntity,JESSE CORTEZ-ARGUELLES,NaN,NaN,NaN,"150 W. LINCOLN STREEET, APT. A, 85714 TUCSON",NaN,2022-12-20 - 2030-11-05,...,20221220,True,True,False,2022-12,303190,20221220,20221220.0,1,NaN
5403,535301,us-bis-12-20-2022-nordwind-airlines,LegalEntity,NORDWIND AIRLINES,NaN,NaN,ru,"LENINGRADSKAYA STR., BUILDING 25, OFFICE 27. 2...",NaN,"""87 F.R.38704 6/29/2022; 87 F.R. 79725 12/27/2...",...,20230124,True,False,False,2023-01,306805,20230124,NaN,1,NaN
5404,402962,us-bis-12-20-2022-pobeda-airlines,LegalEntity,POBEDA AIRLINES,NaN,NaN,ru,"108811, RUSSIAN FEDERATION, MOSCOW, P. MOSKOVS...",NaN,87 F.R.38707 6/29/2022 - 2022-12-20 - 2023-06-18,...,20221220,True,True,False,2022-12,303190,20221220,20221220.0,1,NaN
5405,402963,us-bis-12-20-2022-priscilla-bustos-martinez,LegalEntity,PRISCILLA BUSTOS MARTINEZ,NaN,NaN,NaN,"7731 GLASGOW DRIVE, 78223 SAN ANTONIO",NaN,2022-12-20 - 2028-11-24,...,20221220,True,True,False,2022-12,303190,20221220,20221220.0,1,NaN
5406,402964,us-bis-12-20-2022-siberian-airlines-d-b-a-s7-a...,LegalEntity,SIBERIAN AIRLINES D/B/A S7 AIRLINES,NaN,NaN,NaN,"633104, NOVOSIBIRSKAYA OBL., G. OB, PROSPEKT M...",NaN,87 F.R. 38709 6/29/2022 - 2022-12-20 - 2023-06-18,...,20221220,True,True,False,2022-12,303190,20221220,20221220.0,1,NaN

In [10]:
#save as csv
res_deduplicated.to_csv('df_complete.csv')